{% extends 'base.html' %}

{% block content %}
    <div class="container pt-5">
        {% if blog_post_list %}


            {% for post in blog_post_list %}
                {% if forloop.counter|divisibleby:2 is False %}
                    <div class="row mb-2">
                {% endif %}
            <div class="col-md-6">
                <a class="list-group-item list-group-item-action"
                   href="/blog/{{ post.text_title }}/">{{ post.text_title }}</a>
                {% include 'util/bootstrap_card.html' with post=post %}
            </div>
            {% if forloop.counter|divisibleby:2 %}
                </div>
            {% endif %}
            {% endfor %}
            {% if blog_post_list.count|divisibleby:2 is False %}
                </div>
            {% endif %}

        {% else %}
            <h1 class="text-center">Nothing to see here, move along!</h1>
        {% endif %}
    </div>
{% endblock %}
