{% extends 'base.html' %}
{% load static %}

{% block links %}{{ block.super }}
    <link rel="stylesheet" href="{% static 'css/blog/index.css' %}"/>
{% endblock %}

{% block content %}

    <body>
    <div class="shadow-lg container mt-4 p-5 bg-opaque rounded-lg">
        {% if blog_post_list %}
            <ul class="list-group">
                {% for post in blog_post_list %}
                    <li class="list-group-item bg-transparent border border-0">
                        {% include 'blog/blogpost_card.html' with post=post %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <h1 class="text-center">Nothing to see here, move along!</h1>
        {% endif %}
    </div>
    </body>

{% endblock %}
