<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
</head>
<body>
<nav class="shadow navbar navbar-expand-sm navbar-dark bg-dark" data-toggle="affix">
    <div class="container flex-sm-nowrap justify-content-center">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars4"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbars4">
            <ul class="navbar-nav nav-fill w-100">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Blog:index' %}">Blog</a>
                </li>
                <li>
                    <a class="navbar-brand mx-auto" href="{% url 'home' %}">Benjamin Palko | Software Engineer</a>
                </li>
                <li class="nav-item navbar-right">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>