{% extends 'base.html' %}
{% load static %}

{% block links %}{{ block.super }}
    <link rel="stylesheet" href="{% static 'css/index.css' %}"/>
{% endblock %}

{% block content %}

    <div class="bg-dark text-light">


        {# Title #}
        <div class="container-fluid vh-100 bg-light text-dark d-flex flex-column align-items-center">

            <div class="h-50 text-center mt-auto">
                <h1 class="display-1 border-bottom border-danger pb-2">Benjamin Palko</h1>
                <h4 class="display-4">Software Engineer</h4>
            </div>
            <div class="display-4  text-center pb-3">
                <a class="about text-dark" href="#about">About</a>
                /
                <a class="blog text-dark" href="#blog">Blog</a>
                /
                <a class="contact text-dark" href="#contact">Contact</a>
            </div>

        </div>


        {# About #}
        <div class="container-fluid vh-100 d-flex flex-column justify-content-around" id="about">

            <h1 class="display-2 border-bottom border-danger text-center mb-2">About</h1>

            <div class="container dynamic-text text-center">

                <p>
                    I'm a Software Engineering graduate from Carleton University.
                </p>
                <p>
                    I currently work as a Full-stack Junior Developer at Bizxcel <sup><a target="_blank"
                                                                                         href="https://www.bizxcel.com/"><i
                        class="fas fa-external-link-alt text-primary"></i></a></sup>, spending the majority of my time with
                    Java EE application servers. I work mainly with Wildfly and Oracle databases for mapping
                    logic of insurance data along with various smaller support applications.
                </p>
            </div>

            <h1 class="text-center display-3 border-bottom border-danger w-75 align-self-center">Skills</h1>

            <div class="d-flex justify-content-around">

                <div class="text-center">
                    <i class="fab fa-python fa-5x"></i>
                    <br>
                    <h3>Python</h3>
                    <p>Django | Mosquitto | Flask</p>
                </div>
                <div class="text-center">
                    <i class="fab fa-java fa-5x"></i>
                    <br>
                    <h3>Java</h3>
                    <p>Hibernate | Persistence | Mockito<br>Maven | JUnit | Spring</p>
                </div>
                <div class="text-center">
                    <i class="fas fa-database fa-5x"></i>
                    <br>
                    <h3>SQL</h3>
                    <p>MySQL | PostgreSQL | Oracle<br>RDBMS | DOD</p>
                </div>
                <div class="text-center">
                    <i class="fab fa-git-alt fa-5x"></i>
                    <br>
                    <h3>Git</h3>
                    <p>github | gitlab | git bash</p>
                </div>

            </div>

            <div class="d-flex justify-content-around">
                <div class="text-center">
                    <h5>Web Development</h5>
                    <span data-toggle="tooltip" data-placement="bottom" title="Bootstrap">
                        <i class="fab fa-bootstrap fa-2x mx-1"></i>
                    </span>
                    <span data-toggle="tooltip" data-placement="bottom" title="HTML5">
                        <i class="fab fa-html5 fa-2x mx-1"></i>
                    </span>
                    <span data-toggle="tooltip" data-placement="bottom" title="Amazon Web Service">
                        <i class="fab fa-aws fa-2x mx-1"></i>
                    </span>
                </div>
                <div class="text-center">
                    <h5>Misc</h5>
                    <span data-toggle="tooltip" data-placement="bottom" title="Unity">
                        <i class="fab fa-unity fa-2x mx-2"></i>
                    </span>
                    <span data-toggle="tooltip" data-placement="bottom" title="Docker">
                        <i class="fab fa-docker fa-2x mx-2"></i>
                    </span>
                </div>
                <div class="text-center">
                    <h5>Operating Systems</h5>
                    <span data-toggle="tooltip" data-placement="bottom" title="Windows 10">
                        <i class="fab fa-windows fa-2x mx-1"></i>
                    </span>
                    <span data-toggle="tooltip" data-placement="bottom" title="Ubuntu Desktop">
                        <i class="fab fa-ubuntu fa-2x mx-1"></i>
                    </span>
                    <span data-toggle="tooltip" data-placement="bottom" title="Fedora">
                        <i class="fab fa-fedora fa-2x mx-1"></i>
                    </span>
                    <span data-toggle="tooltip" data-placement="bottom" title="Raspberry Pi">
                        <i class="fab fa-raspberry-pi fa-2x mx-1"></i>
                    </span>
                    <span data-toggle="tooltip" data-placement="bottom" title="Linux Bash">
                        <i class="fab fa-linux fa-2x mx-1"></i>
                    </span>
                </div>
            </div>

            <p class="text-center dynamic-text border-bottom border-danger w-25 align-self-center pb-3">Bash | Restful
                API | CI/CD (Travis) | Subversion | C#</p>

        </div>


        {# Blog #}
        <div class="container-fluid" id="blog">
            <div class="row">
                <div class="col">
                    <h1 class="display-1 text-center border-bottom border-danger pb-2">Blog</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">

                    <div class="shadow-lg container mt-4 p-5 bg-opaque rounded-lg">
                        {% if blog_post_list %}
                            <ul class="list-group">
                                {% for post in blog_post_list %}
                                    <li class="list-group-item bg-transparent border border-0">
                                        {% include 'blog/blogpost_card.html' with post=post %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <h1 class="text-center">Nothing to see yet!</h1>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>


        {# Contact #}
        <div class="container-fluid vh-100 d-flex flex-column justify-content-around" id="contact">

            <div class="h-25">
                <h1 class="display-3 text-center pt-5 border-bottom border-danger">Contact</h1>
            </div>

            <div class="row h-25">
                <div class="col d-flex justify-content-center">
                    <div class="flex-column text-center">
                        <h3 class="text-danger">Benjamin Palko</h3>
                        <p class="dynamic-text">Software Engineer</p>
                        <a class="dynamic-text text-danger" href="mailto:benjaminpalko@hotmail.com">benjaminpalko@hotmail.com</a>
                    </div>
                </div>
            </div>

            <div class="row h-50">
                <div class="col-3"></div>
                <div class="col-6 d-flex justify-content-around">
                    <div class="text-center">
                        <a class="btn" target="_blank" href="https://codepen.io/benjaminpalko">
                            <i class="fab fa-codepen fa-3x text-light"></i>
                            <p class="dynamic-text text-light">Codepen</p>
                        </a>
                    </div>
                    <div class="text-center">
                        <a class="btn" target="_blank" href="https://github.com/BenjaminPalko">
                            <i class="fab fa-github fa-3x text-light"></i>
                            <p class="dynamic-text text-light">Github</p>
                        </a>
                    </div>
                    <div class="text-center">
                        <a class="btn" target="_blank" href="https://twitter.com/benjaminpalko">
                            <i class="fab fa-twitter fa-3x text-light"></i>
                            <p class="dynamic-text text-light">Twitter</p>
                        </a>
                    </div>
                    <div class="text-center">
                        <a class="btn" target="_blank" href="https://www.linkedin.com/in/benjaminpalko/">
                            <i class="fab fa-linkedin fa-3x text-light"></i>
                            <p class="dynamic-text text-light">LinkedIn</p>
                        </a>
                    </div>
                    {# https://discord.gg/h98QHsY #}
                </div>
                <div class="col-3"></div>
            </div>

        </div>

        <div class="container-fluid bg-light text-dark">
            <div class="text-center d-flex h-25">
                <a class="mx-auto align-self-end" target="_blank" href="https://www.heroku.com/">
                    <img class="img-fluid text-dark"
                         src="{% static 'images/built-on-heroku-dark.svg' %}" height="150" width="300"
                         alt="Built on Heroku" type="image/svg"/>
                </a>
            </div>
        </div>

    </div>

{% endblock %}


{# Javascript #}
{% block scripts %}
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
    </script>
    <script>
        $(document).ready(function () {
            // Add smooth scrolling to all links
            $("a").on('click', function (event) {

                // Make sure this.hash has a value before overriding default behavior
                if (this.hash !== "") {
                    // Prevent default anchor click behavior
                    event.preventDefault();

                    // Store hash
                    var hash = this.hash;

                    // Using jQuery's animate() method to add smooth page scroll
                    // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 800, function () {

                        // Add hash (#) to URL when done scrolling (default click behavior)
                        window.location.hash = hash;
                    });
                } // End if
            });
        });
    </script>
{% endblock %}
